---
import ProductCart from './ProductCart.astro';
---
<div class="grid md:grid-cols-3 gap-8">
   <ProductCart name="Товар 1" price="999" oldPrice="1249" />
   <ProductCart name="Товар 2" price="1499" />
   <ProductCart name="Товар 3" price="799" />
</div>